*{
    margin: 0;
    padding: 0;
    box-sizing: none;
}

.duongke {
    border: 0.25px solid;
    border-color: rgb(233, 197, 142);
}
.header {
    background: #e6d5ad;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img {
    width: 196px;
    height: 100px;
    margin-left: 20px;
}
.header .search {
    margin-left: -35px; 
    border-radius: 3px;
    width: 250px;
    height: 30px;
    background-color: rgb(195, 162, 92);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.header .search input {
    width: 85%;
    height: 28px;
    border: 1px solid white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.header .search input::placeholder {
    text-align: center;
}

.header .search i {
    margin-left: 5px;
    transform:translateY(10%);
    font-size: 15px;
    color: black;
}
.header .login {
    margin-right: 20px;
    color: black; 
    font-weight: bold;
}
.header .login button {
    background: transparent;
    border: #e6d5ad; 
    color: black; 
}
.header .login button a {
    background: transparent;
    border: none; 
    color: black; 
    text-decoration: none;
}
.header .login button a:hover {
    text-decoration: underline;
    font-weight: bold;
}
.header .signin {
    margin-right: 30px;
    color: black; 
    font-weight: bold;
}
.header .signin button {
    background: transparent;
    border: #e6d5ad; 
    color: black; 
}
.header .signin button a {
    background: transparent;
    border: none; 
    color: black; 
    text-decoration: none;
}
.header .singin button a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.menu { 
    text-align: center;
}
.menu ul {
    list-style-type: none;
    background-color: #e6d5ad;
    text-align: center;
}
.menu ul li {
    color: black;
    display: inline-table;
    width: 120px;
    height: 40px;
    line-height: 40px;
    position: relative;
}
.menu ul li a {
    color: black;
    text-decoration: none;
    display: block;
}
.menu ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
}
.sub-menu {
    display: none;
    position: absolute;
}
.menu ul li:hover .sub-menu {
    display: block; 
}
.sub-menu li a:hover {
    color: white; 
    font-weight: bold;
}





.contact {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white; 
    margin-top: 27px;
}
.dtt-1 img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover; /
}
.dtt-1 {
    width: 400px; 
    height: 440px; 
    overflow: hidden; /* Ẩn phần hình ảnh vượt ra ngoài kích thước div */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-left: 120px;
}
.dtt {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
    width: 1200px;
    height: 450px;
    margin-left: 8%;
    margin-top: 90px;
    background: rgba(255, 255, 255, 0.906);
}
.tt {
    background-color: #e6d5ad;
    width: 578px;
    height: 440px;
    margin-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 50px;
}
.tt1 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 8px;
}
.input-box input {
    width: 330px;
    height: 22px; 
    background: transparent;
    border:none;
    outline:none;
    font-size: 14.5px;
    color: black;
    margin: 20px;
}
.input-box input::placeholder {
    color: rgb(95, 94, 94); 
}
.tt2 {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.dk1 {
    width: 180px;
    border: 0.25px solid; 
    border-color: rgb(148, 148, 148);
}
.surname {
    margin-left: -110px;
    width: 180px;
}
.dk2 {
    width: 180px;
    border: 0.25px solid; 
    border-color: rgb(148, 148, 148);
}
.dk3 {
    border: 0.25px solid; 
    border-color: rgb(148, 148, 148);
}
.dk4 {
    border: 0.25px solid; 
    border-color: rgb(148, 148, 148);
}
.input-box textarea {
    margin-top: 22px;
    margin-bottom: 20px;
    width: 478px;
    height: 100px;
    border: none;
    color: black; 
    background: none;
    display: flex;
}
.input-box textarea::placeholder {
    margin-left: 50px;
    padding-top: 10px;
    text-indent: 20px;
    font-size: 14.5px;
    color: rgb(95, 94, 94);
    font-family:Arial, Helvetica, sans-serif;
}

.tt1 button {
    width: 480px;
    height: 40px;
    border-radius: none;
    cursor: pointer;
    background-color:rgb(220, 182, 106);
    border: none; 
    color: rgb(255, 255, 255);
}
.tt1 button:hover {
    background-color: white;
    color: black;
}


.sub-main4 {
    font-family:'Times New Roman', Times, serif;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background: #e6d5ad;
    line-height: 1.5;
    width: cover;
    height: 120px;
    padding-bottom: 140px;
}

.o1 {
    margin-left: 60px;
    margin-right: 93px;
}
.o1 h2{
    color: white;
    margin-top: 120px;
    font-size: 35px;
}
.o1 i {
    font-size: 30px;
    width: 50px;
    cursor: pointer;
}

.o2 h2{
    color: white;
    margin-top: 135px;
    margin-right: 60px;
}
.o2 label {
    color: rgb(8, 8, 8);
    margin-right: 60px;
}
.o3 {
    margin-top: 175px;
}
.o3 h2{
    color: white;
    margin-right: 40px;
}
.o3 label a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.o3 label a:hover {
    text-decoration: underline;
    font-weight: bold;
}


.o4 {
    margin-top: 175px;
}
.o4 h2{
    color: white;
    margin-right: 60px;
}
.o4 label a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.o4 label a:hover {
    text-decoration: underline;
    font-weight: bold;
}